body {
    background: url('https://images.unsplash.com/photo-1460134846237-51c777df6111?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=7cfadafca0c2caef83a8127b6679b968') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
